<!DOCTYPE html>
<html ng-app="serviceProto">

<head>
    <title>MINIUSA.com</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="robots" content="index,follow" />
    <meta name="description" content="Normal is boring. That's why we've been motoring our own way for over 50 years. Stop by MINIUSA.com to learn more, design your own MINI over 10 Million different ways and schedule a test spin you'll never forget." />
    <meta name="keywords" content="MINI, Hardtop, MINI USA" />

    <!-- Load the Sandbox Prototype Scss -->
    <link rel="stylesheet" href="css/prototype.css" type="text/css"/>


<body ng-controller="appController">
<div data-ng-view>
    <h1>Alerts for Back Bay MBTA Stop</h1>
    <h2 ng-bind="success"></h2>

    <p ng-repeat="alert in alerts">
        <strong>{{alert.effect_name}}</strong><br>
        {{alert.header_text}}
    </p>

</div>


<!-- http://www.movable-type.co.uk/scripts/sha1.html -->
<script src="js/base64.min.js"></script>
<script src="js/stringHash.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="js/apiProvider.js"></script>
<script src="js/apiDataService.js"></script>
<script src="js/app.js"></script>

</body>
</html>
